body{
	font-family: sans-serif;
	background:linear-gradient(to right, #AFEEEE,#6495ED,#ebf9fb) ;
}

h1{
	text-align: center;
	/*ketebalan font*/
	font-weight: 300;
}

.tulisan_login{
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	text-transform: uppercase;
}

.kotak_login{
	width: 350px;
	background: white;
	/*meletakkan form ke tengah*/
	margin: 80px auto;
	padding: 30px 20px;
	box-shadow: 0px 0px 100px 4px #d6d6d6;
}

label{
	font-size: 11pt;
}

.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}

.tombol_login{
	background: #2aa7e2;
	color: white;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
}

.link{
	color: #232323;
	text-decoration: none;
	font-size: 10pt;
}

.alert{
	background: #e44e4e;
	color: white;
	padding: 10px;
	text-align: center;
	border:1px solid #b32929;
}
.nav-link :hover {
	background-color: grey;
}
.display-4{
	font-weight: bold;
}
.card-body-icon{
	position:absolute;
	top: 25px;
	right: 4px;
	z-index: 0;
	font-size: 90px;
	opacity: 0.4;
}
.wrap{
	background-color:#00CED1;
	margin:auto;
	width: 50%;
	color :white;
	border-radius: 10px;
}
.container{
	padding:5px;
	margin: 10px;
}
h1{
	text-emphasis: center;
}
table{
	margin: auto;
	padding-bottom: 5px;
}
table td{
	padding: 5px;
}
button{
	width: 70px;
	font-family: comic sans ms;
	height: 30px;
	border-radius: 10px;
	background-color: 	#FF7F00;
	font-size: 15px;
}
